.actual_Category{
  margin: auto;
  margin-bottom: 40px;
}
.actual_Category_text {
  margin-bottom: 22px;
   font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
}
.actual_Category_Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 290px;
    margin: auto;
 }
.category_Box {
  overflow: hidden;
  background: #FFFFFF;
/* #DDE1E6 */
  border: 1px solid #DDE1E6;
  box-sizing: border-box;
  border-radius: 10px;
  height: 159px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.img1 {
}
.img1_Text  {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;


}
