.carusel-Brend {
  padding-top: 23px;
}
.actual_Brend {
  margin: auto;
  margin-bottom: 60px;
}
.carusel-Boxs2 {

}
.logo-boxs {


}

.line-logo1 {
  display: flex;
  padding-top: 55px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 26px;

  
}

.line-logo2 {
  display: flex;
  align-items: center;
    align-items: center;
  justify-content: space-around;
}

.logotype {

}
.brend_Heading {
  margin-top: 50px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* #202329 */
  color: #202329;
 }
 
  

 



